
* img {

    display: inline-block;
    width: 25%;
    height: 300px;
    margin: 3%;
    border: 3px solid #ccc;
    
}

#resultBut{

    text-align: center;
}

header h1 {

    text-align: center;
}


